<div class="row">
  <%= render 'other_result' %>
  
  <div class="col-md-12"><%= will_paginate(@videos, renderer: BootstrapPagination::Rails) %></div>
  <% if @videos.empty? %>
    <div class="alert alert-danger">No Data.</div>
  <% else %>
    <%= render @videos %>
  <% end %>
  <div class="col-md-12"><%= will_paginate(@videos, renderer: BootstrapPagination::Rails) %></div>
</div>