<div class="row">
  <div class="col-md-12"><%= will_paginate(@videos, renderer: BootstrapPagination::Rails) %></div>
  <%= render @videos %>
  <div class="col-md-12"><%= will_paginate(@videos, renderer: BootstrapPagination::Rails) %></div>
</div>