<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><%= @video.title %></div>
      <div class="panel-body">
        <%= @video.introduce %>
        <hr>
        <% @girls.each do |girl| %>
          <span class="label label-danger"><%= link_to(girl.title, girl) %></span>
        <% end %>
        <hr>
        <% @tags.each do |tag| %>
          <span class="label label-primary"><%= link_to(tag.title, tag) %></span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-9"></div>
</div>