<div class="panel panel-default">
  <div class="panel-heading">Newest Videos</div>
  <div class="panel-body">
    <%= render @newest_videos %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">Hot Videos</div>
  <div class="panel-body">
    <%= render @hotest_videos %>
  </div>
</div>